language: php

php:
    - 5.5
    - 5.4

before_script:
    - /home/travis/.phpenv/versions/`phpenv version-name`/bin/composer self-update
    - php composer.phar install --dev --no-interaction

script:
    - mkdir -p build/logs
    - phpunit --configuration tests/phpunit.xml --coverage-clover build/logs/clover.xml

after_script:
    - php vendor/bin/coveralls
